/* home page css */
.navbar {
    background-color: rgb(206, 245, 206);
    position: sticky;
}
.footer {
    background-color: rgb(206, 245, 206);
    width: 100%;
    height: 250px;
    padding-top: 2%;
    bottom: 0;
    margin-bottom: 0%;
}
.btn {
    background-color: rgb(206, 245, 206);
    color: black;
    border: none;
}
.card {
    width: 300px;
    height: 400px;
}
.nav-link {
    color: black;
}
.navbar-brand:hover {
    color: rgb(84, 187, 84);
}
.navbar-brand {
    color: black;
    font-size: 40px;
}
.d-block {
    height: 500px;
    width: auto;
}
.navimage{
    width: 50px;
    height: 50px;
    color: rgb(35, 138, 35);
}
/* electro css */
.containerCards{
    margin: 80px 20px 54px;
}
.single-product {
    margin-bottom: 26px;
    border: solid 2px black;
    padding: 5px;
    background-color: rgb(243, 243, 243);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
}
.single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}
.single-product img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: grayscale(100%);
    transition: all .25s ease-in-out;
}
.single-product:hover img {
    filter: grayscale(0);
    transform: scale(1.2,1.2) rotate(4deg);
}
.single-product:hover{
border: solid 2px coral;
}
.part-2{
    text-align: center;
    padding-bottom: 10px;
}
/*card*/
a,
a:hover {
    text-decoration: none;
    color: inherit;
}
.single-product .part-2 ul {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 70px;
    left: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
.single-product:hover .part-2 ul {
    bottom: 100px;
    opacity: 1;
}
.single-product .part-2 ul li {
    display: inline-block;
    margin-right: 4px;
}

